<mat-dialog-content>
    <div class="row">
      <h4 class="col-md-11">Innovation Request</h4>
      <button
        mat-icon-button
        class="close-button col-md-1"
        [mat-dialog-close]="true"
      >
        <mat-icon class="close-icon" color="warn" (click)="dialogRef.close()"
          >close</mat-icon
        >
      </button>
    </div>
    <form class="form" [formGroup]="innovationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Select Request Type</mat-label>
        <mat-select matNativeControl required formControlName="requesttype">
          <mat-option value="wfh">WFH</mat-option>
          <mat-option value="innovation">Innovation</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. High level explanation of innovation..." formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Benifits</mat-label>
        <textarea matInput placeholder="Ex. Benifits of innovation..." formControlName="benifits"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Technology</mat-label>
        <textarea matInput placeholder="Ex. Java,Angular..." formControlName="technology"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estimated Efforts</mat-label>
        <textarea matInput placeholder="Ex. 1 month..." formControlName="estimatedefforts"></textarea>
      </mat-form-field>
      <button
        class="form-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="innovationForm.invalid"
        (click)="dialogRef.close()"
      >
        Submit
      </button>
    </form>
  </mat-dialog-content>