.table_container {
  // margin-top: 20px;
  .mat-mdc-row {
    height:42px;
  }
}
.table_header {
  font-weight: bold;
}
.status-approved {
  color: green;
}
.status-rejected {
  color: red;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  // width: 100%;
}

td,
th {
  width: 25%;
}

.mat-mdc-table {
  table-layout: fixed;
}
::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
}
::ng-deep .mat-mdc-header-row {
  font-family: sans-serif !important;
}
::ng-deep .mat-mdc-header-cell {
  font-family: sans-serif !important;
}
.table_header {
  font-weight: 600;
}
/* Status colors */

.badge {
  font-size: 14px;
  font-weight: 300;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.export_excel_img {
  height: 35px;
  width: 35px;
  position: relative;
  left: 3rem;
  font-size: 2.3rem;
}
.container_header {
  float: left;
  font-weight: 600;
  font-size: 1.2rem;
}
.filter_conatiner {
  display: flex;
  float: right;
}
.container_filter {
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 0rem;
  padding-right: 1rem;
}
.search_field{
  float: right;
}

