<div class="mat-elevation-z8 table_container" *ngIf="dataSource?.data?.length">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">
      <ng-container *ngFor="let columnName of displayedColumns" [matColumnDef]="columnName">
        <th class="table_header" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ capitalize(columnName) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="columnName === 'actions' && element['status'] !== 'rejected'">
            <mat-icon tooltip matTooltip="cancel your request">history</mat-icon>
          </span>
          <span [ngClass]="columnName === 'status' ? getStatusClass(element[columnName]) : ''">
            {{ element[columnName] }}
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  