<div class="row mt-3">
  <div class="col-md-10 container_header">
    {{ title }}
  </div>
  <div class="col-md-2">
    <span class="align-middle" (click)="exporttableToExcel()">
      <mat-icon tooltip matTooltip="Excel Export" class="export_excel_img">download_for_offline</mat-icon>
      <!-- <img
        class="export_excel_img"
        src="../../../../../assets/images/export-excel.png"
        alt="export-excel"
      /> -->
    </span>
  </div>
  <div>
    <!-- <form class="d-flex">
      <input
        class="form-control shadow-none me-2"
        style="border-radius: 5rem"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (keyup)="applyFilter($event)"
      />
    </form> -->
    <!-- <mat-form-field class="search_field" appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. approved wfh"
      />
    </mat-form-field>  -->
    <!-- <div class="input-group mb-3">
      <input
        type="text"
        class="form-control shadow-none"
        aria-label="Text input with dropdown button"
        placeholder="search"
      />
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        filter
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">employee</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">status</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">date range</a></li>
      </ul>
    </div> -->
  </div>
</div>

<div class="table_container" *ngIf="dataSource?.data?.length">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">
    <ng-container
      *ngFor="let columnName of displayedColumns"
      [matColumnDef]="columnName"
    >
      <th
        class="table_header"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
          {{ capitalize(columnName) }}
        <button class="btn" (click)="applyFilter($event);$event.stopPropagation();">
          <svg width="1em" color="white" height="1em" viewBox="0 0 16 16" class="bi bi-funnel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
          </svg>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="columnName === 'actions' && element['status'] !== 'rejected'">
          <mat-icon tooltip matTooltip="cancel your request">touch_app</mat-icon>
        </span>
        <span [ngClass]="columnName === 'status' ? getStatusClass(element[columnName]) : ''">
          {{ element[columnName] }}
        </span>
        <span
          tooltip matTooltip="element"
          *ngIf="columnName === 'comments'"
        >
          <span></span>
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
