.export_excel_img {
  height: 35px;
  width: 35px;
  position: relative;
  left: 130px;
  top: 10px;
}
.container_header {
  float: left;
  font-weight: 600;
  font-size: 1.2rem;
}
.filter_conatiner {
  display: flex;
  float: right;
}
.container_filter {
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 0rem;
  padding-right: 1rem;
}
.search_field{
  float: right;
}
