<div class="notification_container">
  <div class="menu_header">
    <p class="announcements_text"><b>Announcements</b></p>
    <p class="mark_all">
      <span (click)="MarkAllAsRead()"><u>Mark all as read</u> </span>
    </p>
  </div>
  <div id="menu_content_gird">
    <div *ngFor="let item of notifications | slice:0:4; let i = index"  mat-menu-item class="menu_content">
      <!-- [status]="item.IsRead ? 'read' : 'unread'" -->
      <div messageStatus class="mat_menu_main_content">
        <div class="title" (click)="announcementsTile(item, i)">
          <p class="text">{{ item.message }}</p>
        </div>
        <div class="close_icon" (click)="removeAnnouncementTile(item, i)">
          <mat-icon>close</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="view_all">
    <span (click)="navigateviewall()"><u>View all</u> </span>
</p> -->
</div>
