<div class="profile-container" matTooltip="Profile">
  <button mat-button (menuOpened)="onProfileClick()" (menuClosed)="onProfileClick()" [matMenuTriggerFor]="profileMenu" class="profile-button">
    <div class="profile-details">
      @if(userDetails.length > 0){
      <ng-container>
        <div *ngIf="userDetails[0].avatar; else initials">
          <img [src]="userDetails[0].avatar" alt="Profile Avatar" class="profile-avatar"/>
        </div>
        <ng-template #initials>
          <div class="profile-initials">
            {{ getInitials(userDetails[0].emp_fname, userDetails[0].emp_lname) }}
          </div>
        </ng-template>
        <mat-icon class="dropdown-icon">{{ dropdownOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
      </ng-container
      >}
    </div>
  </button>
  

</div>


<mat-menu #profileMenu="matMenu">
  <div class="profile-menu-content" *ngIf="userDetailsq.length > 0">
    <div class="profile-info">
      <div class="profile-text">
        @if(userDetailsq[0] ){ 
          
          <p>Name : {{userDetailsq[0].emp_fname}} {{userDetailsq[0].emp_lname}}</p>
          <p>ID : {{userDetailsq[0].emp_id }}</p>
          <p>Designation : {{userDetailsq[0].designation }}</p>
          <p>Email : {{userDetailsq[0].email }}</p>
          <p>Project : {{userDetailsq[0].Project }}</p>
        }  
      </div>
    </div>
    <button mat-menu-item (click)="onSettingsClick()"><mat-icon>settings</mat-icon>Settings</button>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
  </div>
</mat-menu>
