<div class="row mt-1">
    @for(card of upCommingTrainings|slice:0:4;track card;let i = $index;){
        <div class="col-lg-3 col-md-3 mb-4">    
            <div class="card">
            <div class="card-body">
                <h6 class="card-title"><b>{{ card.title }}</b>
                    <a style="float: inline-end;"><span class="blinking-dot">&#x2022;</span> {{card.type_of_training}}</a>
                </h6>
                
                <hr>
                <p class="card-text">{{ card.content | truncateString:100 }}</p>
                <span style="font-size: 12px;font-weight: 700;">{{card.duration}}</span>
                <a *ngIf="accept_bool" class="inline badge badge-success"  (click)="openDialog()">{{ card.button }}</a>
            </div>
            </div>
        </div>
    }
</div>