<div class="sidebar" [ngClass]="{ 'expanded': !isExpanded }">
    <div class="header">
      <h1 class="title">
        Projects
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
            <mat-icon class="icon">work</mat-icon>
          <div class="title">Home</div>
        </div>
      </div>
    </div>
  </div>