<div class="p-2">  
    <div class="row">
    <h4 class="col-md-10 mt-2 fancy"><b>COE Activities</b></h4>
  
  </div>
  <div class="row p-2">
    @for(card of cardDetails;track card;let i = $index){
      <div class="col-md-3 p-2" >
        <mat-card
          class="text-center card-container border-style glass-card"
          [ngClass]="{ 'active-card': i === activeCardId }"
        >
          <div class="row">
            <div class="card_content col-md-8">
              <h5 class="m-0 heading">{{ card.number }}</h5>
              <p class="paragraph-text text-muted m-0">{{ card.title }}</p>
              <mat-icon
                class="arrow-icon-color"
                style="color: #ff5733; margin-left: -33px"
                >keyboard_arrow_up</mat-icon>
              <span class="count_text">3% from last month</span>
            </div>
            <div class="container_icon col-md-2 mt-2">
              <div [ngStyle]="{'background-color':  card.backgroundcolor}"
                class="col-md-4 icon-circle d-flex align-items-center justify-content-center"
              >
                <mat-icon class="icon" >{{ card.icon }}</mat-icon>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      }
  </div>
</div>
