.filter-dropdown {
  margin-bottom: 20px;
}

.filter-section {
 
}

.mat-form-field {
  margin-right: 20px;

}

.mat-raised-button {
  margin-left: 20px;
}
.apply-filter {
  margin-left: 20px;
  // margin-bottom: 15px;
}
.justify_flex_end {
  display: inline-flex;
  justify-content: flex-end;
}
.clear{
  margin-top: 13px;
}
.date-range{
  padding-left: 3rem;
}
.chart-container{
  // padding-top: 20px;
}
