<div class="main_container">
  <div class="header_main">
    <div class="header">
      <div class="header_title">
        <img src="../assets/images/file.png" class="logo" alt="Logo" /><span class="logo__text" >Portal</span>
      </div>
      <div class="icon" style="padding-right: 2rem;">
      
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu_container">
          <app-notifications></app-notifications>
        </mat-menu>
         <app-profile></app-profile>
      </div>
    </div>
  </div>
  <div class="body_container">
  
    <app-sidenavbar
    class="side_nav"
    [isExpanded]="sidebarExpanded" 
    [projects]="projects_List"
    (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
  ></app-sidenavbar>
    <div class="main_content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
    
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
