<div class="p-2">  
    <div class="row">
    <h4 class="col-md-10 mt-2 fancy"><b>Trainings</b></h4>
  </div>
  <div class="container mt-1">
    <div class="card-group" style="padding:1rem;padding-left:1rem;border-radius: 0.5rem;">
      <div class="card-group-label">Upcomming Trainings</div>
      <div class="row col-md-12" style="display: inline-flex;">
        <div class="col-md-10"></div>
        <div class="col-md-2" style="display: inline-flex;justify-content: flex-end;">
            <a class="p-0" style="text-decoration: none;cursor: pointer;font-weight: 700;color: black;" (click)="navigateviewall('upcoming')">View All Trainings</a>
        </div>
      </div>
        <app-card-with-title-content-button [upCommingTrainings]="upCommingTrainings"  [accept_bool]="true"></app-card-with-title-content-button>     
    </div>
  </div>

  <div class="container mt-1">
    <div class="card-group" style="padding:1rem;padding-left:1rem;border-radius: 0.5rem">
      <div class="card-group-label">Opted Trainings</div>
      <div class="row col-md-12" style="display: inline-flex;">
        <div class="col-md-10"></div>
        <div class="col-md-2" style="display: inline-flex;justify-content: flex-end;">
            <a class="p-0" style="text-decoration: none;cursor: pointer;font-weight: 700;color: black;" (click)="navigateviewall('opted')">View All Trainings</a>
        </div>
      </div>
      <app-card-with-title-content-button [upCommingTrainings]="upCommingTrainings" [accept_bool]="false"></app-card-with-title-content-button> 
    </div>
  </div>
  <div class="container mt-1">
    <div class="card-group" style="padding:1rem;padding-left:1rem;border-radius: 0.5rem">
      <div class="card-group-label">Completed Trainings</div>
      <div class="row col-md-12" style="display: inline-flex;">
        <div class="col-md-10"></div>
        <div class="col-md-2" style="display: inline-flex;justify-content: flex-end;">
            <a class="p-0" style="text-decoration: none;cursor: pointer;font-weight: 700;color: black;" (click)="navigateviewall('completed')">View All Trainings</a>
        </div>
      </div>
      <app-card-with-title-content-button [upCommingTrainings]="upCommingTrainings" [accept_bool]="false"></app-card-with-title-content-button> 
    </div>
  </div>
</div>