// .comming-soon{
//     width: 100%;
//     height: 30rem;
//     margin: 0 auto;
//     display: flex;
// }
.container {
    display: flex;
    justify-content: center;
}
.info-header {
    display: inline-block;
  }
  
  .text-pink {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    display: block;
  }
  
  .container-text-content {
    font-size: 16px;
    line-height: 28px;
    max-width: 404px;
    margin-bottom: 40px;
    padding: 1rem 0rem 0.5rem 0rem;
  }
  p.container-text-content {
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    color: hsl(0, 36%, 70%);
    /*border: 1px solid green*/
  }
  .fancy {
    font-size: 20px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
  .card-group {
    position: relative;
    background-color: white;
    border-radius: 0;
    padding-top: 30px;
  }
  
  .card-group-label {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #5f90d9;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  // .card {
  //   border: none;
  //   border-radius: 0;
  //   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  // }
  
  // .card-img-top {
  //   height: 200px;
  //   object-fit: cover;
  // }
  
  // @media (max-width: 767px) {
  //   .card-img-top {
  //     height: 150px;
  //   }
  // }

  // .inline {
  //   float: inline-end;
  //   background-color: #5f90d9;
  // }