.filter-dropdown {
  margin-bottom: 20px;
}

.filter-section {
  margin-bottom: 20px;
}

.mat-form-field {
  margin-right: 20px;
}

.mat-raised-button {
  margin-left: 20px;
}
.apply-filter {
  margin-left: 20px;
  margin-bottom: 15px;
}
.clear{
  margin-top: 13px;
}
.date-range{
  padding-left: 3rem;
}
