<div>
    <app-header-table title="Employee List" (exportClicked)="exporttableToExcel()" (searchChanged)="applyFilter($event)"></app-header-table>
  </div>
  <div>
      <app-mat-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-mat-table>
  </div>

  <div>
    <div>
      <app-header-table title="Request's" (exportClicked)="exporttableToExcel()" (searchChanged)="applyFilter($event)"></app-header-table>
    </div>
    <div>
        <app-mat-table [dataSource]="manager_DataSource" [displayedColumns]="displayedColumnsRequests"></app-mat-table>
    </div>
  </div>