<div class="container mt-5">
  <div class="row">
    @for(card of cardDetails;track card;let i = $index){
      <div class="col-md-3 cursor: pointer"  (click)="onCardClick(i, card.title)">
        <mat-card class="text-center p-3">
          <div class="row">
            <div class="container_icon mb-2 col-md-2">
              <div
                class="col-md-4 icon-circle d-flex align-items-center justify-content-center">
                <mat-icon class="icon">{{ card.icon }}</mat-icon>
              </div>
            </div>
            <div class="card_content col-md-8">
              <h5 class="m-0 heading">{{ card.number }}</h5>
              <p class="paragraph-text text-muted m-0">{{ card.title }}</p>
            </div>
          </div>
        </mat-card>
      </div>
    }    
  </div>
</div>

<div class="container mt-5">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- SL NO -->
      <ng-container matColumnDef="SL NO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SL NO </th>
        <td mat-cell *matCellDef="let row"> {{row.sl_no}} </td>
      </ng-container>
  
      <!-- Project Column -->
      <ng-container matColumnDef="Project">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
        <td mat-cell *matCellDef="let row"> {{row.project}}% </td>
      </ng-container>
  
      <!-- Designation Column -->
      <ng-container matColumnDef="Requested date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested date </th>
        <td mat-cell *matCellDef="let row"> {{row.requested_date}} </td>
      </ng-container>
  
      <!-- Dates Column -->
      <ng-container matColumnDef="Approved Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved Date </th>
        <td mat-cell *matCellDef="let row"> {{row.approved_date}} </td>
      </ng-container>

      <!-- Comments Column -->
      <ng-container matColumnDef="Approver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Approver </th>
        <td mat-cell *matCellDef="let row"> {{row.aprover}} </td>
      </ng-container>

       <!-- Status Column -->
       <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>  

      <!-- Comments Column -->
      <ng-container matColumnDef="Comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
        <td mat-cell *matCellDef="let row"> {{row.comments}} </td>
      </ng-container>

     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  
</div>
