<!-- <img class="comming-soon" src="../../../assets/images/commingsoon.png" width="30rem"> -->
<div class="container">
    <div class="info">
        <h1 class="info-header">
          <span class="text-pink">We're</span>Coming Soon
        </h1>
        <p class="container-text-content">
          Hello fellow shoppers! We're currently building our new request
          App, Add your email below to stay up-to-date with announcements
          and our launch deals.
        </p>
      </div>
</div>
